/* Global Styles */


@font-face {
    font-family: 'Inter';
    src: url('./assets/Inter-Regular.ttf') format('truetype');
    font-display: swap;
}
:root {
    --color-primary: #0064e0; /* Blue */

    --color-gray:#465A69;
    --color-dark:#1c2b33;
    --color-light:#FFFFFF;
    --color-gray-light:#F1F4F7;

    
    --color-delete:#b11200;
    --color-error:#F02849;
    --color-green:#61cd77;
    font-family: 'inter' , helvetica , sans-serif ;

  
    
}



body {
    
    background-color: var(--color-gray-light);
    color: var(--color-dark);
    
   
    
    
}

body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background-color: var(--color-dark);
}
body::-webkit-scrollbar-thumb{
    background-color:var(--color-primary);
}





aside::-webkit-scrollbar{
    width: 0.25rem;
    
}
aside::-webkit-scrollbar-track{
    background-color: var(--color-light);
}
aside::-webkit-scrollbar-thumb{
    background-color:var(--color-primary);
}




.container {
    
   
    
    
    
    color: inherit;
    
    
    padding: 20px;
    
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
  
    
   
    


}



section {

    padding-top: 20px;
    max-height: 100%;
    grid-column: 2/3;
    padding: 20px;
    padding-left: 40px;
    
   
    
    
    
      
}
    
.tasks-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px , 1fr));
    gap: 20px;
    
}


    
aside {
    
    height: calc(100vh - 40px);
    background-color: var(--color-light);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
    color: inherit;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    width:  300px;
    overflow-x: hidden;
    transition: width 200ms ease;
    position: fixed;
    
}



.lists-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--color-text);
    
  
    
}




.lists-container {
   margin-bottom: 20px;
    
    list-style: none;
    

}
.lists-container li{
    padding: 10px;
}



.add-list-btn {
    
    border-radius: 5px;
   padding: 10px 50px ;
   padding-left: 43px;
    color: var(--color-light);
    font-size: 0.9rem;
    ;
    background-color: var(--color-primary);
    display: flex;
    gap: 10px;
    font-weight: bold;
   align-items: center;
    
    border: none;
    
    cursor: pointer;
    transition: 333ms cubic-bezier(.53, .00, .28, 1.00) background, 333ms cubic-bezier(.53, .00, .28, 1.00) opacity;
}

.add-list-btn::before{
    content: '+';
   
}


#plus{
    color: var(--color-light);
    font-weight: bold;
    font-size: 1.2rem;
    align-self: flex-start;
    
    padding-bottom: 3px;

}

.add-list-btn:hover {
  background-color:#0052b6;}




.new-list-name {
    display: block;
    padding: 8px;
    margin-top: 15px;
    max-width: 100%;
    
    border: 2px solid var(--color-gray-light);
    border-radius: 7px ;
    color: var(--color-dark);
    outline: none;
    font-size: 1.1rem;

   
   
}

    

.new-list-name.invalid-input{
    
    border: 1px solid;
    border-color: var(--color-error);
 }
 .listname-error{
    color: var(--color-error);
    font-size: 1rem;
    
 }


.del-lists {
    
    padding: 20px 10px;
    background-color: var(--color-accent);
    
    border: none;
    
    
    
    
    font-size: 1rem;
   

    
    
    color: var(--color-gray);
    margin-top: auto;
}

.del-lists:hover {
 color: var(--color-delete);
}


.list-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: var(--color-dark);
    
}





.create-task-form {
    margin-bottom: 20px;
    
}



.create-task-form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px;
    border: 1px solid var(--color-gray-light);
    
    
}
.create-task-form input[type="text"]:focus  {
    border: 1px solid var(--color-primary);
    
    }

.taskform-label{
    padding: 10px 0px;
    font-weight: bold;
    
}

.create-task-form input[type="date"]{
    padding: 10px  ;
    border: none;
    border-radius: 5px;
    outline: none;
}

.create-task-form input[type="radio"] {
    margin-right: 5px;
}

.create-task-form label {
    margin-right: 15px;
}


.taskform-btn{
    margin-top: 20px;
    background-color: var(--color-light);
    border: none;
    padding: 10px;
    color: var(--color-primary);
    font-weight: ;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    
}
.taskform-btn:hover,#new-task-form:hover{
    
    color: var(--color-dark);
    background-color: var();
}

.task-container .task-info{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
   
}
.task-container {
    list-style: none;
    
    padding: 10px;
    background-color: var(--color-light);
    box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    
    

   
}





.task-container .task-title {
    
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   word-break: break-word;
   overflow-wrap: break-word; 
}


.task-container .task-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.task-container .task-date {
    font-size: 14px;
    color: #666;
    color: var(--color-gray);
}

.task-container button {
    
    font-size: 0.8rem;
   
    
    
    border: none;
   
    background-color: var(--color-light);
    color: var(--color-primary);
    cursor: pointer;
}

.task-container button:hover {
    color:#86acdf;
    
}
.task-container #priority{
    color: var(--color-gray);
    
}

.task-container .delete-task-btn{
    color: var(--color-delete);
}
.delete-task-btn:hover{
    color:#f77d6f !important;
}

#is-done-btn{
   
    margin-right: 5px;
    
    

    
}



.task-container .task-info{
display: flex;
flex-wrap: wrap;
  
    
}
.task-container .task-actions{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.task-title{
    display: flex;
    align-items: center;
}




/* Style for the dialog */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: 600px;
    background-color: var(--color-light);
    border: 1px solid var(--color-gray-light);
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
    
   
    
}
.modal-text{
    word-wrap: break-word; /* Break long words */
  overflow-wrap: break-word; /* Ensure overflow wraps */
}




   
  


dialog[open] {
    -webkit-animation: show 0.3s ease normal;
}
dialog.hide {
    -webkit-animation: hide 0.3s ease normal;
}
@-webkit-keyframes show{
    from {
        opacity: 0;
        scale: 0.9;
    }
    to {
        opacity:1;
        scale: 1;
    }
}
@-webkit-keyframes hide{
    to {
        opacity: 0;
        scale: 0.9;
    }
}


/* Style for the close button */
.close-modal {
    background-color: var(--color-accent);
    color:var(--color-primary);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    
}


#new-task-form {
    
    border: none;
    padding: 10px;
    color: var(--color-gray);
    font-weight: ;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-gray-light);
    
    
}
#new-task-form::before{
    content: '+';
    font-weight: bold;
    margin-right: 5px;

}

.close-modal:hover {
    
}


#task-done{
    border-right: 5px solid var(--color-green);
}
#task-not-done{
    border-right: 5px solid var(--color-delete);
}






#edit-task{
    font-weight: bold;
    margin-bottom: 20px;
}






#delete-list{
    color: var(--color-dark);
    
    
    right: 20px;
    cursor: pointer;
    display: none;
    font-size: 1rem; 
    font-weight: bold;
    
    
}

.list-container{
    
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    transition: background-color 100ms ease;
    word-break: break-word;
    overflow-wrap: break-word; 
}   
.list-container:hover{
    background-color:var(--color-gray-light);
    
}

.active-list{
    background-color: var(--color-gray-light);
    padding: 10px 20px;
}



@media (max-width: 900px) {

    .add-list-btn{
        font-size: 0.7rem;
    ;
    }
    .container{
        padding: 0px;
        display: block;
       
    }
    aside{
        
        width: 40px;
        height: 100vh;
        border-radius: 0px;
        transition: width 0.3s ease-in-out;
    }
    section{
        margin-left: 40px;
        padding-left: 20px;
       
    }
    aside div,
aside h1 {
    display: none;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 1s;
     /* Define transition property */
}
    
    aside:hover{
        width: 200px;
        z-index: 1;
    }
    aside:hover div , aside:hover h1{
        display: block;
        transition: display 1s;
        
        opacity: 1;
    }
    .new-list-name{
        font-size: 0.8rem;
    }
 
    
}





@media (max-width: 500px) {

.tasks-container{
    grid-template-columns: repeat(auto-fit,minmax(200px , 1fr));
}






}